@import url("https://fonts.cdnfonts.com/css/alarm-clock");

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#player-hud-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 5px;
    gap: 5px;
    left: 10px;
    text-shadow: 0px 0px 5px black;
}

.hud-field {
    height: 25px;
    width: 75px;
    border-radius: 3px;
    border: 2px solid rgba(27, 29, 33, 0.8);
    background-color: rgba(27, 29, 33, 0.8);
}

.hud-icon {
    z-index: 1;
    margin-left: 7.5px;
    margin-top: 2.5px;
    font-size: 15px;
    color: white;
    position: absolute;
}

#health {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(33, 171, 97, 0.8);
    transition: width 1.0s ease;
}

#armour {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(45, 82, 134, 0.8);
    transition: width 1.0s ease;

}

#thirst {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(26, 124, 173, 0.8);
    transform: rotate(180deg);
    transition: width 1.0s ease;
}

#hunger {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(221, 110, 20, 0.8);
    transform: rotate(180deg);
    transition: width 1.0s ease;
}

#stamina {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(116, 116, 116, 0.8);
    transition: width 1.0s ease;
}

#oxygen {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(138, 168, 189, 0.8);
    transition: width 1.0s ease;
}

#stress {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(255, 0, 0, 0.8);
    transition: width 1.0s ease;

}

#voice {
    background-color: rgba(155, 155, 155, 0.8);
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 35px;
    height: 6.5px;
    border-radius: 5px;
    -webkit-transition: width 1.0s ease;
    -moz-transition: width 1.0s ease;
    transition: width 1.0s ease;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid rgba(27, 29, 33, 0.8);
}

#vehicle-hud-container {
    display: none;
    border-radius: 3px;
    width: 298px;
    height: 220px;
    position: absolute;
    left: 10px;
    bottom: 33px;
    font-family: "alarm clock";
    border: 2px solid rgba(27, 29, 33, 0.8);
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 10px black;
}

#speed-type {
    position: absolute;
    font-size: 15px;
    bottom: 55px;
    right: 5px;
}

#speed {
    position: absolute;
    font-size: 55px;
    bottom: 0px;
    right: 5px;
}

#seatbelt {
    position: absolute;
    font-size: 18px;
    bottom: 8px;
    left: 35%;
    color: rgb(248, 157, 157);
}

#altitude {
    position: absolute;
    font-size: 55px;
    bottom: 6vh;
    right: 5px;
    color: rgba(255, 255, 255, 0.8);
}

#alt-txt {
    position: absolute;
    font-size: 15px;
    bottom: 11vh;
    color: #90f6fd;
    right: 5px;
}

#fuel-icon {
    position: absolute;
    font-size: 18sdpx;
    bottom: 8px;
    right: 45%;
}

#fuel {
    position: absolute;
    font-size: 30px;
    bottom: 0px;
    right: 50%;
}

#gear {
    position: absolute;
    font-size: 40px;
    bottom: 0px;
    left: 10px;
}

#street1 {
    font-variant-caps: all-petite-caps;
    position: absolute;
    font-size: 35px;
    top: 0px;
    left: 10px;
}

#street2 {
    font-variant-caps: all-petite-caps;
    position: absolute;
    font-size: 23px;
    top: 30px;
    left: 10px;
}

#direction {
    position: absolute;
    font-size: 40px;
    top: 0px;
    right: 5px;
}

@media screen and (min-width: 2560px) and (min-height: 1440px) {
    #vehicle-hud-container {
        width: 397px;
        height: 293px;
        left: 13px;
        bottom: 44px;
    }

    #seatbelt {
        left: 33%;
    }

    #player-hud-container {
        bottom: 10px;
        gap: 5px;
    }

    .hud-field {
        width: 90px;
        height: 25px;
    }

    .hud-icon {
        margin-top: 5px;
    }

    #voice {
        bottom: 12.5px;
    }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) {
    #vehicle-hud-container {
        width: 475px;
        height: 349px;
        left: 81px;
        bottom: 112px;
        transform: scale(1.25);
    }

    #speed-type {
        font-size: 20px;
        bottom: 38px;
    }

    #speed {
        font-size: 36px;
    }

    #seatbelt {
        left: 33%;
        font-size: 24px;
    }

    #altitude {
        font-size: 33px;
    }

    #alt-txt {
        font-size: 33px;
    }

    #fuel-icon {
        font-size: 28px;
    }

    #fuel {
        font-size: 30px;
    }

    #gear {
        font-size: 36px;
    }

    #street1 {
        font-size: 34px;
    }

    #street2 {
        font-size: 30px;
    }

    #direction {
        font-size: 33px;
    }

    #player-hud-container {
        bottom: 20px;
        left: 93px;
        transform: scale(1.5);
    }

    .hud-field {
        width: 90px;
        height: 30px;
    }

    .hud-icon {
        font-size: 20px;
        margin-top: 6px;
    }

    #voice {
        height: 10px;
        bottom: 20px;
    }
}